# Pandas

used to
data manipulation, wrangling, analysis

pandas consist of  
        1.seris  # same as 1d array
        2.dataframes # 2d array

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.0.5

In [3]:
# seris

In [7]:
population_dic={
    "india":12345,
    "us":67892,
    "uk":34567,
    "germany":78965
}
print(type(population_dic))
print(population_dic)

<class 'dict'>
{'india': 12345, 'us': 67892, 'uk': 34567, 'germany': 78965}

In [12]:
p = pd.Series(population_dic)
print(p)

india      12345
us         67892
uk         34567
germany    78965
dtype: int64

In [13]:
type(p)

pandas.core.series.Series

In [14]:
p[0]

12345

In [15]:
p[3]

78965

In [16]:
p['india']

12345

In [17]:
p['uk']

34567

In [18]:
# series has both explicit(india,uk,us,....) and implicit(0,1,2,...) indexes

In [19]:
p[0:3]

india    12345
us       67892
uk       34567
dtype: int64

In [20]:
p['india':'germany']

india      12345
us         67892
uk         34567
germany    78965
dtype: int64

In [21]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
pd.Series(25)

0    25
dtype: int64

In [24]:
pd.Series(25,index=["phani"])

phani    25
dtype: int64

In [25]:
pd.Series(25,index=["phani"])[0]

25

In [26]:
pd.Series(25,index=["phani"])["phani"]

25

In [27]:
pd.Series(25,index=[111,222,333])

111    25
222    25
333    25
dtype: int64

In [28]:
pd.Series(25,index=[111,222,333])[111]

25

In [30]:
S=pd.Series(25,index=[111,222,333])
S[0]

KeyError: 0

In [31]:
# IF EXPLICIT INDEX IS A NUMBER THEN AGAIN IMPLICIT INDEXES ARE NOT GIVEN

In [32]:
pd.Series({1:'a',2:'b',3:'c'} , index=[2,3])

2    b
3    c
dtype: object

# Dataframe

In [33]:
type(p)

pandas.core.series.Series

In [34]:
pd.DataFrame(p)

             0
india    12345
us       67892
uk       34567
germany  78965

In [35]:
pd.DataFrame(p,columns=['population'])

         population
india         12345
us            67892
uk            34567
germany       78965

In [38]:
dic=[{'a':i,'b':2*i} for i in range(4)]
dic

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}, {'a': 3, 'b': 6}]

In [39]:
df=pd.DataFrame(dic)
df

   a  b
0  0  0
1  1  2
2  2  4
3  3  6

In [40]:
df.columns=["abc","def"]

In [41]:
df

   abc  def
0    0    0
1    1    2
2    2    4
3    3    6

In [43]:
dic=[{'a':i,'b':2*i} for i in range(4)]
df=pd.DataFrame(dic,index=['x','y','z','a'])
df

   a  b
x  0  0
y  1  2
z  2  4
a  3  6

In [44]:
df.columns

Index(['a', 'b'], dtype='object')

# indexers: loc & iloc

In [45]:
data=pd.Series(['a','b','c'],index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [47]:
data[1] # while indexing pandas use explicit indexing

'a'

In [49]:
data[1:3] # while slicing pandas use implicit indexing

3    b
5    c
dtype: object

In [50]:
# this issue can be solved using loc and iloc

In [51]:
# loc -> explicit index
# iloc -> implicit index

In [52]:
data.loc[1]

'a'

In [53]:
data.loc[1:3]

1    a
3    b
dtype: object

In [56]:
data.iloc[1]

'b'

In [57]:
data.iloc[1:3]

3    b
5    c
dtype: object

# Seaborn

In [58]:
import seaborn as sns

In [59]:
print(sns.__version__)

0.10.1